<h3 class="m-5">Add New Blog Post +</h3>
<form class="blog-form m-5">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="title"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Content</label>
    <input type="text" class="form-control form-control-sm" id="description" />
  </div>
  <div class="mb-3 d-grid gap-2 col-6 mx-auto">
    <button type="submit" class="btn-sm">
      Create new blog post
    </button>
  </div>
</form>

<div class="blog-posts m-5">
  <div class="card" style="width: 100%">
    <div class="card-header darkpeach">
      <h4>My Blogs</h4>
    </div>
    <table class="table table-striped my-blogs">
      <thead>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Content</th>
      </thead>
      <tbody>
        {{#each blogs as |blog|}}
          <tr>
            <th scope="row"><a href="/blogs/{{blog.id}}">{{blog.title}}</a></th>
            <td>{{format_date blog.dateCreated}}</td>
            <td>{{blog.description}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script src="/js/logout.js"></script>
<script src="/js/dashboard.js"></script>